/*ส่วนหัว Header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    width: 100%;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav li:first-child {
    margin-right: auto;
    display: flex;
    align-items: center;
}

header nav li {
    margin-left: 16px;
}

header nav li img {
    height: 32px;
    margin-right: 8px;
}


/*ส่วน section hero*/
.hero {
    display: flex;
    background-color: #d8d8d8;
    padding: 32px 24px;
    gap: 24px;
}

.hero-left {
    flex: 3;
}

.hero-left img {
    width: 100%;
    display: block;
}

.hero-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right h1 {
    font-size: 32px;
    margin-bottom: 24px;
}

.hero-right p {
    margin-bottom: 24px;
}

.hero-right .button {
    background-color: #4a4a4a;
    color: white;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    width: 50%;
}

/*ส่วน section information*/
.information {
    display: flex;
    padding: 32px 24px;
    gap: 24px;
}

.info-main {
    flex: 3;
}

.info-main img {
    width: 100%;
    margin-bottom: 32px;
    margin-top: 32px;
}

.info-main h2 {
    font-size: 32px;
    margin-bottom: 24px;
}

.info-sidebar {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    padding: 16px;
    border: 1px solid #d8d8d8;
    align-items: center;
    gap: 8px;
}

.sidebar-item img {
    width: 35%;
    height: auto;
}

.item-content {
    width: 65%;
}

.sidebar-item.guest {
    background-color: #d8d8d8;
}